<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Portal de Acceso - Sistema Distribuido</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<div class="portal-card">
    <h1>Terminal de Gestión</h1>
    <p>Base de Datos Centralizada y Sistema de Diagnóstico de Excepciones</p>

    <a href="/pruebas-api" class="btn-access">Ingresar al Panel de Control</a>

    <form th:action="@{/logout}" method="post">
        <button type="submit" class="btn-logout">Finalizar sesión de usuario</button>
    </form>
</div>
</body>
</html>