<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperación - Sistema Pokedex</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<div class="auth-container">
    <div class="box">
        <h2 class="text-center">Asistencia de Acceso</h2>
        <p class="header-subtitle text-center">Introduzca su identificador para localizar su expediente.</p>

        <div th:if="${error}" class="alert-error" th:text="${error}"></div>

        <form th:action="@{/forgot-password}" method="post">
            <div class="form-group">
                <label>Identificador de Usuario</label>
                <input type="text" name="username" required>
            </div>
            <button type="submit" class="btn-secondary">Buscar Expediente</button>
        </form>

        <div class="links-container">
            <a href="/login">Cancelar y volver al inicio</a>
        </div>
    </div>
</div>
</body>
</html>