<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nueva Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
</head>
<body>
<div class="box">
    <h2>Restablecer Credenciales</h2>

    <div th:if="${error}" class="alert-error" th:text="${error}"></div>

    <div class="security-question" th:text="${pregunta}"></div>

    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="username" th:value="${username}">

        <label>Respuesta de Seguridad</label>
        <input type="text" name="respuesta" required>

        <label>Nueva Contraseña</label>
        <input type="password" name="newPassword" required>

        <label>Confirmar Nueva Contraseña</label>
        <input type="password" name="confirmNewPassword" required>

        <button type="submit" class="btn-update">Actualizar Acceso</button>
    </form>
    <p style="text-align: center;"><a href="/login" style="color: #95a5a6; text-decoration: none;">Cancelar operación</a></p>
</div>
</body>
</html>